.banner {
  width: 100%;
  height: 100vh;
  background: var(--background-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: row;
  gap: 1rem;
  box-sizing: border-box;

  @media (max-width: 1080px) {
    flex-direction: column-reverse;
    width: 100%;
    padding: 1rem 0rem;
  }
}


