.listContainer {
  width: calc(600px + 3rem);
  height: 500px;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  box-sizing: border-box;
  padding: 1.5rem 1rem;
  scroll-snap-type: y mandatory;
  scroll-padding: 1rem;

  ::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  mask-image: linear-gradient(180deg, transparent, black 10%, black 90%, transparent);
  -webkit-mask-image: linear-gradient(180deg, transparent, black 5%, black 95%, transparent);

  @media (max-width: 1080px) {
    flex-wrap: nowrap;
    width: 100%;
    height: fit-content;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-padding: 0.25rem;

    mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
    -webkit-mask-image: linear-gradient(to right, transparent, black 5%, black 95%, transparent);
  }
}