.projectContainer, .projectContainerLoading {
  min-width: 300px;
  max-width: 300px;
  min-height: 300px;
  max-height: 300px;
  background-color: var(--dark-panel-background);
  border: 1px solid var(--dark-panel-stroke-unselect);
  border-radius: 16px;
  scroll-snap-align: center;
  cursor: pointer;
  transition: border 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.projectContainerLoading {
  animation: pulse 1s infinite;
  cursor:auto;
}

.projectContainer:hover {
  border: 1px solid var(--dark-panel-stroke);
  transform: scale(1.05);
}

@keyframes pulse {
  0% {
    background-color: var(--dark-panel-background);
  }
  50% {
    background-color: var(--dark-panel-background-light);
  }
  100% {
    background-color: var(--dark-panel-background);
  }
}